@{
    ViewData["Title"] = "Главная";
}
<div class="homeText">
    <p>
        На нашем сайте вы можете разместить свое портфолио или добавить блог.
    </p>
</div>

<div class="row createData">
    <div class="col-6 text-center CreateButton">
        <a href="/UserPortfolio/Create">Создать портфолио</a>
    </div>
    <div class="col-6 text-center CreateButton">
        <a href="/BlogUsers/Create">Создать блог</a>
    </div>
</div>

<div class="homeText">
    <p>
        Нет добавленных записей, сделайте это первым!)).
    </p>
</div>

